# important funtions in set

1.add()
add item x to the set

In [1]:
s={10,20,30,40,50}
s.add(60)
print(s)

{40, 10, 50, 20, 60, 30}

In set order is not preserved

In [4]:
s={'jaina','shaik'}
s.add('islam')
print(s)

{'islam', 'shaik', 'jaina'}

2.update(x,y,z)
To add more than one value

In [3]:
s={1,2,3,4,5,6}
l={7,8,9,0}
s.update(l)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s={'jaina','salma','sunny'}
l={'ajju','john','yakub'}
s.update(l)
print(s)

{'salma', 'john', 'yakub', 'sunny', 'ajju', 'jaina'}

In [14]:
x={1,2,3}
y={4,5,6}
x.update(y,range(2))
print(x)

{0, 1, 2, 3, 4, 5, 6}

copy()

In [19]:
z={1,2,3}
y=z.copy()
print(y)
print(id(z))
print(id(y))

{1, 2, 3}
2111642338016
2111642337792

In [20]:
j={'jaina','shaik','salma'}
my=j.copy()
print(my)

{'salma', 'shaik', 'jaina'}

remove():it removes specified elements from set

In [23]:
s={1,2,3,4,5,100}
s.remove(100)
print(s)

{1, 2, 3, 4, 5}

pop():it removes element and returns removed element

In [24]:
s={1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [27]:
s={1,2,3,4,5}
print(s.pop())
print(s)

1
{2, 3, 4, 5}

In [28]:
z={'salma','sunny','sony'}
print(z.pop())
print(z)

sony
{'salma', 'sunny'}

discard():
         even the particular value not there it will not show error 
         it removes the specified element from the set, if that the element is not present in set ,it will not return error message

In [29]:
s={1,2,3,4,56}
s.discard(56)
print(s)

{1, 2, 3, 4}

In [30]:
s={1,2,3,4,5,6,7}
s.discard(100)
print(s)

{1, 2, 3, 4, 5, 6, 7}

clear():removes all the elements from the set

In [31]:
s={100,200,300,0}
s.clear()
print(s)

set()

Mathematical operations on the set

In [32]:
s1={1,2,3}
s2={4,5,6}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
s1={1,2,3,4}
s1*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

union()

In [35]:
s1={1,2,3,4,5}
s2={6,7,8,9,0}
print(s1.union(s2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

**union():
union() removes duplicates
instead of union() we can use OR(|) operater

In [36]:
s={1,2,3}
z={3,5,6}
print(s.union(z))

{1, 2, 3, 5, 6}

In [37]:
a={1,2,3}
b={4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

intersection()
instead of intrsection() we can use AND(&) operator

In [38]:
s1={1,2,3,4,5}
s2={5,6,7,8,9}
print(s1.intersection(s2))

{5}

In [39]:
s1={1,2,3,4,5}
s2={5,6,7,8,9}
print(s1&s2)

{5}

difference()
it returns the values which are not there in first set comparing with first set
instead of difference() we can use -(minus)

In [43]:
s1={1,2,3,4,5}
s2={6,7,8,9,0,1,2}
print(s1.difference(s2))

{3, 4, 5}

In [44]:
s1={1,2,3,4,5}
s2={6,7,8,9,0,1,2}
print(s1-s2)

{3, 4, 5}

symmetric_difference()

In [46]:
s1={1,2,3,4,5,8}
s2={100,200,2,1,3,4,500}
print(s1.symmentricdifference(s2))

AttributeError: 'set' object has no attribute 'symmentricdifference'

In [47]:
 s1={1,2,3,4,5}
s2={6,7,8,9,0,1,2}
print(s1^s2)

{0, 3, 4, 5, 6, 7, 8, 9}